{{#
    @name Logo
    @desc The logo component with a `width` attribute.
#}}

<!-- /components/_logo.antlers.html -->
<a
    aria-label="{{ trans:strings.home }}"
    href="{{ site:url }}"
    class="select-none inline-flex items-baseline font-serif text-[1.4rem] tracking-[-0.015em] leading-none {{ class }}"
>
    <span class="text-primary">Funchal</span><span class="text-neutral-900">Tours</span><span class="text-[0.7rem] text-neutral-900/40 ml-[2px]">.com</span>
</a>
<!-- End: /components/_logo.antlers.html -->
