node_modules/
vendor/
public/_build/
public/build/
public/hot
bootstrap/cache/*.php
.env
.env.backup
.phpunit.cache/
storage/debugbar/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
GEMINI_CONTEXT.md
